.arrayBar{
    background-color: aqua;
    /* display: inline; */
    margin: 1px;
}

.container{
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* justify-content: center; */
    display: -webkit-flex;
    display: -ms-flexbox;
    margin: 0 auto;
    /* height: 80vh; */
    /* margin-top: 100px; */
}